{% extends "base.html" %}

{% block body %}


<h2>About Me</h2>

<p>
    My name is Aeden Moylan and I am a 3rd year computer games development at the Institute Of Technology Carlow. </br>
    In my spare time I love playing and making games, playing classical guitar, talking to friends, and experimenting
    with food. </br>
    I am a 21 year old, only child, living in kilkenny. I hope to one day be able to code professionally and be able to
    create something as a part of my job. </br>
    I often pity people with dead end jobs so I want to do everything I can to have a rich and fulfilling job. </br>
</p>






{% endblock %}