{% extends "base.html" %}

{% block body %}

<h2> #2: Phoenix Wright Ace Attorney: Trials and Tribulations</h2>

<p>
    Pheonix Wright Ace Attorney: Trials and Tribulations, is the 3rd game in the Ace Attorney franchise. </br>
    The main character is Phoenix Wright, a defence attorney that has to defend his clients in court and </br>
    find out who the real culprit is. The game is divided into 2 parts per case, investigation and trial. </br>
    during the investigation you gather clues and evidence that can then be used in the trial. </br>
    trials are basically story driven logic based puzzles to find out who the real culprit is. </br>

</p>
<a href="https://aceattorney.fandom.com/wiki/Phoenix_Wright:_Ace_Attorney_-_Trials_and_Tribulations">Ace Attorney
    Site</a>


{% endblock %}