{% extends "base.html" %}

{% block body %}

<h2> #1: Hades</h2>

<p>
    Hades is a fast-paced roguelike games set in the underworld of ancient greek mythology. </br>
    The main character is Zagreus, the son of hades. Zagreus has to escape the underworld</br>
    in order to reach his mother on the outside and find out the truth of his existence.</br>
    The forces of hades will try to stop him from escaping but with the help of olympic gods, Zagreus may escape. </br>
    During the game you unlock new weapons and permanent upgrades to make future attempts a lot easier </br>


</p>

<a href="https://www.supergiantgames.com/games/hades/">Hades Official Site</a>


{% endblock %}