{% extends "base.html" %}

{% block body %}

<h2> Cooking</h2>

<p>
    I love cooking new and exciting foods (especially Japanese food). </br>
    Not to brag or anything but I make the best ramen from scratch. </br>
    I also make a really good bolognaise. </br>
    The link below will bring you to my favourite restaurant. </br>

</p>

<a href="https://www.wagamama.ie/" target="_blank">Wagamama's</a>

<h2>Classical guitar</h2>

<p>
    My other hobby is classical guitar. I take pride in my guitar skills </br>
    as I was taught by Alec O Leary who is one of the best guitarists in the country </br>
    I have been playing for about 9 years now and I love playing spanish guitar in particular </br>
    I broke a guitar string though so I can't play it until I order another one :( </br>
    Below is a link to my guitar teacher's site that sells his hand crafted for guitars. </br>
    definitely check it out if you have a spare 12,000 Euro. </br>

</p>

<a href="http://olearyguitars.com/?page_id=363" target="_blank">Guitar Site</a>


{% endblock %}