{% extends "base.html" %}

{% block body %}

<h2> #3: The Legend Of Zelda: Majora's Mask</h2>

<p>
    The Zelda series needs no introduction but Majora's Mask is often overlooked compared to the other games. </br>
    The main character is Link, a boy who is transported to a weird world called Termina. Link has 3 days to </br>
    stop Skull Kid from using dark powers to pull the moon closer to earth and kill everyone and everything on earth.
    </br>
    Link has to travel to the 4 corners of Termina to release the 4 giants that will attempt to hold the moon up. </br>
    but are the strenghts of the giants enough to support the moon? </br>


</p>

<a href="https://www.nintendo.com/games/detail/the-legend-of-zelda-majoras-mask-3d-3ds/">Majora's Mask Official Site</a>


{% endblock %}